@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>WELCOME</h1>
        <h3>Select an action</h3>
        <br />
        <br />
        <p>In this section you can managment the teachers</p>
        @Html.ActionLink("Teacher Managment", "Index", "Teacher", null, new { @class = "btn btn-primary btn-lg" })
        <br />
        <br />
        <p>In this section you can managment the subjects</p>
        @Html.ActionLink("Subject Managment", "Index_Subject", "Subject", null, new { @class = "btn btn-primary btn-lg" })
        <p>In this section you can managment the subjects</p>
        @Html.ActionLink("Subject Inscriptions", "Index_Inscriptions", "Inscriptions", null, new { @class = "btn btn-primary btn-lg" })

    </div>
